.ul,
.li {
  margin: 10px;
  padding: 10px;
  background-color: white;
  border-radius: 4px;
  list-style: none;
}

.li {
  border: 1px solid black;
}

 .pm-task-table-body {
      display: table-row-group;
  }

  .pm-task-table-cell, .pm-task-table-head {
      display: table-cell;
    padding: 3px 10px;
    overflow: hidden;
    word-wrap: break-word;
  }

  .pm-task-table-row {
    display: table-row;
    border-bottom: 1px solid rgba(0,0,0,.12);
    align-items: center;
    height: 48px;
    padding: 0 24px;
  }

.item {
  &-dropzone {
    border: 1px dashed grey;
    min-height: 20px;

    &.parent {
      border: none
    }
  }

  &-drag {
    &-handle {
      display: inline-flex;
      align-items: center;
    }

    &-preview {
      box-sizing: border-box;
      border-radius: 4px;
      padding: 10px;
      box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
      background-color: white;
    }
  }
}

.cdk-drop-list-dragging {
  background: lightgreen;
}

.cdk-drag-placeholder {
  opacity: 0;
  height: 0;
}